<div class="footer">
    <button class="back-home">
        Inicio de Pagina
    </button>
    <div class="footer-section">
        <ul>
            <p>Conocenos</p>
            <li><a href="#">Trabaja en Amazon</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Acerca de Amazon</a></li>
            <li><a href="#">Relaciones con los Inversionistas</a></li>
            <li><a href="#">Dispositivos Amazon</a></li>
            <li><a href="#">Amazon Science</a></li>
        </ul>
        <ul>
            <p>Gana Dinero con Nosotros</p>
            <li><a href="#">Vender productos en Amazon</a></li>
            <li><a href="#">Vende en Amazon Business</a></li>
            <li><a href="#">Vende aplicaciones en Amazon</a></li>
            <li><a href="#">Programa de Afiliados</a></li>
            <li><a href="#">Anuncia tus Productos</a></li>
            <li><a href="#">Publica tu Libro en Kindle</a></li>
            <li><a href="#">Habilita un Amazon Hub</a></li>
        </ul>
        <ul>
            <p>Productos de Pago de Amazon</p>
            <li><a href="#">Compra con Puntos</a></li>
            <li><a href="#">Recarga tu Saldo</a></li>
            <li><a href="#">Conversor de divisas de Amazon</a></li>
        </ul>
        <ul>
            <p>Podemos Ayudarte</p>
            <li><a href="#">Amazon y el COVID-19</a></li>
            <li><a href="#">Tu Cuenta</a></li>
            <li><a href="#">Tus Pedidos</a></li>
            <li><a href="#">Tarifas de Envio y Politicas</a></li>
            <li><a href="#">Devoluciones y Reemplazos</a></li>
            <li><a href="#">Administra tu Contenido y Dispositivos</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </div>
    <div class="footer-icon">
        <div>
            <img src="@Icon" alt="Image of icon"/>
        </div>
    </div>
</div>

@code {
    
    private const string Icon = "images/amazon-logo-white.png";
}