
<div>
    <div id="navbar">
        <div id="nav-left">
            <div class="logo-box">
                <a class="logo-link" href="#">
                    <img class="logo" src="images/amazon-logo-white.png" alt="logo"/>
                </a>
            </div>
            <div class="location-box">
                <span class="location-content">
                    <i class="bi bi-geo-alt geo-op"></i>
                    <div class="location-text">
                        <span>Deliver to</span>
                        <span class="font-bd">Colombia</span>
                    </div>
                </span>
            </div>
        </div>
        <div id="nav-fill" style="flex-grow: 1">
            <div class="nav-search">
                <form>
                    <div class="nav-left">
                        <div class="dropdown">
                            <div class="dropdown-btn">
                                <span>All</span>
                                <i class="bi bi-caret-down-fill"></i>
                            </div>
                            @* <select> *@
                            @*     <option>All Departments</option> *@
                            @*     <option>Fashion</option> *@
                            @*     <option>Electronics</option> *@
                            @* </select> *@
                        </div>
                    </div>
                    <div class="nav-fill">
                        <input placeholder="Search Amazon"/>
                    </div>
                    <div class="nav-right">
                        <span>
                            <button type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div id="nav-right">
            <div id="nav-tools">
                <span class="nav-right-pd-items lang hover" style="margin-left: 1px; padding-bottom: 5px">
                    <span>EN</span>
                    <i class="bi bi-caret-down-fill"></i>
                </span>
                <a class="nav-right-pd-items hover account" style="padding-bottom: 10px;margin-left: 6px">
                    <div>Hello, sign in</div>
                    <span class="font-bd">
                        Account & Lists
                        <i class="bi bi-caret-down-fill"></i>
                    </span>
                </a>
                <a class="nav-right-pd-items orders hover" style="padding-bottom: 10px;margin-left: 6px">
                    <span>Returns</span>
                    <span class="font-bd">& Orders</span>
                </a>
                <a class="nav-right-pd-items hover cart" style="padding-bottom: 10px; margin: 0 15px 0 6px">
                    <div>
                        <span>0</span>
                        <i class="bi bi-cart4"></i>
                    </div>
                    <div>
                        <span class="font-bd">Cart</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <TabMenu/>
</div>