<div id="tab-menu">
    <div class="menu-left">
        <a class="link-left">
            <i class="bi bi-list i-left"></i>
            <span class="fn-left">All</span>
        </a>
    </div>
    <div class="menu-fill">
        <div id="menu-list">
            <a class="menu-list-item">Today's Deals</a>
            <a class="menu-list-item">Customer Service</a>
            <a class="menu-list-item">Registry</a>
            <a class="menu-list-item">Gift Card</a>
            <a class="menu-list-item">Sell</a>
        </div>
    </div>
    <div class="menu-right"></div>
</div>